.main {
}

.main-mainheader {
}

.main-datadisplay {
}

.main-datadisplay-entryrow {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.main-datadisplay-label {
}

.main-datadisplay-value {
	margin-left: 5px;
}

.main-displayeventpopupbutton {
	background: black;
	color: white;
}